{% load static %}
<div id="app" style="height: 100%">
  <div style="height: 100%;background-color:black;">
    <div class="container bg-light" style="height: 100%">
      <div style="margin-top: 5%; margin-left: 2%;height:100%;">
        <div class="container" style="height:100%;">
          <h1 style="padding-top: 5%;">
            <strong>
              <span style="color: rgb(255, 192, 0); text-align: left">{{ value_1 }}</span></strong
            ><br />
          </h1>
          <p style="margin-top: 3%; text-align: left; margin-right: 5%"><strong> {{ value_2 }}</strong><br /></p>
        </div>
      </div>
    </div>
  </div>
</div>
