{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>elearning</title>
    <link rel="stylesheet" href="{% static 'workfast/assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Telivigala&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Animated-Typing-With-Blinking.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Button-Change-Text-on-Hover.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Carousel_Image_Slider-mycarousel.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Carousel_Image_Slider.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Collapsible-Sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Hero-Carousel-images.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Login-Center.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Navbar-Right-Links-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Off-Canvas-Sidebar-Drawer-Navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Search-Input-responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Sidebar-Menu-sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Sidebar-Menu.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Simple-Slider-Simple-Slider.css' %}" />
    <link rel="stylesheet" href="{% static 'workfast/assets/css/Video-Responsive.css' %}" />
  </head>

  <body>
    {% include 'workfast/com/navbar.html' %}

    <div class="container" style="margin-top: 10%">
      <div class="row">
        <div class="col-md-8">
          <h4>Payment history<br /></h4>
          <div style="padding: 11px; background: var(--secondary); color: var(--white)">
            <h5>Title</h5>
          </div>
          <div style="padding: 11px; background: #a4a8ab">
            <p>Python Data Bootcamp</p>
            <p>Date:26 Aug 2023</p>
          </div>
        </div>
        <div class="col-md-4">
          <h4>User details</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr></tr>
              </thead>
              <tbody>
                <tr>
                  <td>Cell 1</td>
                </tr>
                <tr>
                  <td>Cell 3</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include 'workfast/com/footer.html' %}

    <script src="{% static 'workfast/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'workfast/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'workfast/assets/js/bs-init.js' %}"></script>
    <script src="{% static 'workfast/assets/js/Off-Canvas-Sidebar-Drawer-Navbar.js' %}"></script>
    <script src="{% static 'workfast/assets/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js' %}"></script>
    <script src="{% static 'workfast/assets/js/Animated-Typing-With-Blinking.js' %}"></script>
    <script src="{% static 'workfast/assets/js/Collapsible-Sidebar.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js' %}/1.14.0/umd/popper.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js' %}"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js' %}"></script>
    <script src="{% static 'workfast/assets/js/Sidebar-Menu.js' %}"></script>
    <script src="{% static 'workfast/assets/js/Simple-Slider.js' %}"></script>
  </body>
</html>
